.container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-third {
  flex-basis: calc(100% / 3 * 2);
}

.column-one-fourth {
  flex-basis: 25%;
}

img {
  width: 100%;
}
